* {
    box-sizing: border-box;
}

.container {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: rgb(150, 224, 150);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.container__title {
    font-size: 2rem;
    text-align: center;
}

.registration-form__list {
    max-width: 700px;
    margin: 20px auto;
    font-size: 20px;
}

.registration-form__list__item {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.registration-form__list__item__element {
    width: 100%;
    padding: 5px 20px;
}

.registration-form__list__item--choice {
    width: auto;
}